{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {"project": "tsconfig.base.json"},
  "env": {"es6": true},
  "ignorePatterns": ["**/build/*"],
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/strict"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/return-await": "error",
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-loop-func": "error",
    "@typescript-eslint/no-invalid-this": "error",
    "@typescript-eslint/switch-exhaustiveness-check": "error",
    "@typescript-eslint/sort-type-constituents": "error",
    "@typescript-eslint/prefer-readonly-parameter-types": "error",
    "@typescript-eslint/no-useless-empty-export": "error",
    "@typescript-eslint/no-require-imports": "error",
    "@typescript-eslint/no-confusing-void-expression": "error",
    "@typescript-eslint/consistent-type-exports": "error"
  }
}
